
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>Your travels </h2>
      
    </div>
</div>
<div class="row" >
    <div class="col-lg-4 col-md-4 col-sm-6" *ngFor ="let t of Travels | paginate: { itemsPerPage: 3, currentPage: p }"> 
        <a   class="fh5co-card-item image-popup">
           
            <div class="fh5co-text">
                <h2> departure : {{t.departurePlace}}  </h2>
                <h2> destination :  {{t.destination}} </h2>
                <p><button (click)="travelpartner(t.idTravel)" class="btn btn-info"> travelpartner </button> </p>
                <p><span class="btn btn-primary">Detail</span></p>
            </div>
        </a>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>