<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Forum Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Forum <span class="sr-only">(current)</span></a>

      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchForums(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Forums..." required>
    </form>
  </div>
</nav>
<div class="container bootstrap snippets bootdey" id="main-container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table forum-list">
              <thead>
              <tr>
                <th><span>image employe</span></th>
                <th><span>NOM EMPLOYE</span></th>
                <th><span>Date d'ajout</span></th>
                <th class="text-center"><span>Description</span></th>
                <th><span>Sujet</span></th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let forum of forums">
                <td>
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  
              
                </td>
                <td> <a href="#" class="user-link">{{forum?.author}}</a></td>
                <td>{{forum?.date}}</td>
                <td>{{forum?.description}}</td>
                <td>{{forum?.sujet}}</td>

               
                <td style="width: 20%;">
                  <a class="nav-link" (click)="onOpenModal(forum, 'edit')">Modify Form <span class="sr-only">(current)</span></a>
                  <a class="nav-link" (click)="onOpenModal(forum, 'delete')">Delete Form <span class="sr-only">(current)</span></a>
              
                </td>
              </tr>


              </tbody>
            </table>
          </div>
          <!-- Edit Modal -->
          <div class="modal fade" id="updateUserModel" tabindex="-1" role="dialog" aria-labelledby="updateUserModelLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="updateUserModelLabel">Edit User</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <form #editForm="ngForm">
                     <div class="form-group">
                       <label for="author">Nom employe</label>
                       <input type="text" ngModel="{{editForums?.author}}" name="author" class="form-control" id="author" aria-describedby="emailHelp" placeholder="nom employe">
                     </div>
                     <input type="hidden" ngModel="{{editForums?.idForum}}" name="idForum" class="form-control" id="idForum" placeholder="idForum">
                     
                     <div class="form-group">
                       <label for="date">Date</label>
                       <input type="datetime-local" ngModel="{{editForums?.date}}" name="date" class="form-control" id="date" placeholder="date">
                     </div>
                     <div class="form-group">
                       <label for="description">Description</label>
                       <input type="text" ngModel="{{editForums?.description}}" name="description" class="form-control" id="description" placeholder="description">
                     </div>

                     <div class="form-group">
                      <label for="sujet">Sujet</label>
                      <input type="text" ngModel="{{editForums?.sujet}}" name="sujet" class="form-control" id="sujet" placeholder="sujet">
                    </div>
                     
                     <div class="modal-footer">
                       <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                       <button (click)="onUpdateForum(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                     </div>
                   </form>
                 </div>
               </div>
             </div>
           </div>

           <!-- Add Employee Modal -->
          <div class="modal fade" id="addUserModel" tabindex="-1" role="dialog" aria-labelledby="addUserModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addUserModelLabel">Add forum</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form #addForm="ngForm" (ngSubmit)="onAddForum(addForm)">
                    <div class="form-group">
                      <label for="author">Nom employe</label>
                      <input type="text" ngModel name="author" class="form-control" id="author" placeholder="author" required>
                    </div>
                    <div class="form-group">
                      <label for="date">Date</label>
                      <input type="datetime-local" ngModel name="date" class="form-control" id="date" placeholder="date d ajout" required>
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input type="text" ngModel name="description" class="form-control" id="description" placeholder="description" required>
                    </div>
                    <div class="form-group">
                      <label for="sujet">Sujet</label>
                      <input type="text" ngModel name="sujet" class="form-control" id="sujet" placeholder="sujet" required>
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="add-User-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Ajouter Forum</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <!-- Delete Modal -->
          <div class="modal fade" id="deleteUserModel" tabindex="-1" role="dialog" aria-labelledby="deleteUserModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteUserModelLabel">Delete sujet</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete sujet {{deleteForums?.sujet}}?</p>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteForum(deleteForums?.idForum)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
<!-- Notification for no Users -->
<div *ngIf="forums?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO Users!</h4>
    <p>No Users were found.</p>
  </div>
</div>
