
<div class="gtco-container">

</div><div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
    	<div class="form-wrap">
            <div class="tab">
                
                <div class="tab-content">
                    <div class="tab-content-inner active">
                        <h3>Book Your Trip</h3>
                        <form (ngSubmit)="onSubmit(travel)">
                           
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label >Depart</label>
                                    <input type="text" class="form-control" name="departurePlace" [(ngModel)]="travel.departurePlace">
                                 
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label >Destination</label>
                                    <input type="text" class="form-control" name="destination" [(ngModel)]="travel.destination">
                                </div>
                            </div>
                            
                            
                           <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Date Travel</label>
                                    <input type="date" name="startDate" class="form-control" [(ngModel)]="travel.startDate"> 
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>End Travel  </label>
                                    <input type="date" name="LastDate" class="form-control" [(ngModel)]="travel.lastDate">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block" >submit</button>
                                </div>
                            </div>
                        </form>	
                    </div>

                    
                    </div>
            </div>
        </div>
    </div>

