

<div class="card-body p-0">


    <td><button (click)="verifySecurity()" class="btn btn-info"> verify security destination  </button></td>
    

        <div class="row large-centered">
           
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    
                   
                    <th>StartDate</th>
                    <th >LastDate</th>
                    <th >departurePlace</th>
                    <th >destination</th>
                    <th >Travelers</th> 
                    
                    <th >status</th>
                    <th >confirmationStatus</th>
                    <th ></th>
                   
                </tr>
            </thead>
            <tbody>
               
                


                
                <tr *ngFor ="let t of Travels | paginate: { itemsPerPage: 5, currentPage: p }">
                   
                   
                    <td>{{t.startDate}}</td>
                    <td>{{t.lastDate}}</td>
                    <td>{{t.departurePlace}}</td>
                    <td>{{t.destination}}</td>

                    <td> <ul class="dropdown" *ngFor ="let u of t.users">
                        <li><a>{{u.user_firstName}}</a></li>
                    </ul>
                 </td>
                   
                    <td ><label class="badge badge-light-danger">{{t.status}}</label></td>
                    <td ><label class="badge badge-light-danger">{{t.confirmationStatus}}</label></td>
                    <td><button (click)="updateTravel(t.idTravel)" class="btn btn-info"> update </button></td>
                    <td><button (click)="block(t.destination)" class="btn btn-info"> block destination  </button></td>
                   
                </tr>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </tbody>


           
        </table>
     
    </div>


 <!--  <div class="col-md-6">
        <div id= "myChart" class="card">
            <div class="card-header">
                <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
            </div>
            <div class="card-body">
                <div id="bar-chart-1"></div>
            </div>
        </div>
    </div>--> 


    
</div>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/foundation.min.js"></script>